<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QiYeWeChat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index-oauth.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->    
  <servlet>    
       <servlet-name>coreServlet</servlet-name>    
       <servlet-class>jsp.weixin.servlet.util.CoreServlet</servlet-class>    
  </servlet>    
  <servlet-mapping>    
       <servlet-name>coreServlet</servlet-name>    
       <url-pattern>/coreServlet.do</url-pattern>    
  </servlet-mapping>   
  <!-- OAuth2 -->  
  <servlet>    
       <servlet-name>oauth2Servlet</servlet-name>    
       <servlet-class>jsp.weixin.oauth2.util.OAuth2Servlet</servlet-class>    
  </servlet>    
  <servlet-mapping>    
       <servlet-name>oauth2Servlet</servlet-name>    
       <url-pattern>/oauth2Servlet</url-pattern>    
   </servlet-mapping>
  
</web-app>